/* id selector */
#img-two { 
    position: relative;
    left:30px;
}

/* absolute unit */
#img-three { 
    position: absolute;
    left: 80px;
}

/* For devices with 30em max-width and landscape orientation, change the bg color */
@media screen and (max-width: 30em) and (orientation: landscape) { 
    * { 
        background-color: red;
    }
}

/* Media Query (refer back to https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries) */
@media only screen and (max-width: 600px)  {  
    body{
        background-color: rgb(105, 105, 105);
    }
}

/* Change color of the text upon hovering */
a:hover {
    color: dodgerblue;
}

/* Change color of the link when link is clicked on */
a:active {
    color: red;
}

/* relative unit */
button { 
    width: 5em;
    height: 2em;
    max-width: 50em;
    min-width: 5em;
}

/* relative unit */
p { 
    font-size: 1.5rem;
}

/* Descendant Combinator */
/* Relative Unit */
ul li { 
    font-size: 3ch;
}

/* absolute unit */
nav { 
    height: 0.5cm; 
}

/* absolute unit */
fieldset  {
    max-width: 33333in;
 }

 /* Testing out display */
 p span { 
    display: inline;
 }

  /* Testing out display of block*/
 #poem { 
    display:  block;
    background-color: aqua;
 }

 /* Using flexbox properties. Also using a class-selector. */
 .container-flex { 
     display: flex; 
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: nowrap;
 }
 .container-flex-body { 
    flex-shrink: 4;
    flex-basis: auto;
    align-self: auto;
 } 

 /* Using grid properties */
 .container-grid { 
    display: grid; 
    grid-template-columns: auto auto auto auto;
    row-gap: 3em;
    grid-template-rows: auto;


}
.container-grid-body { 
    justify-self: center;
    align-self: auto;
    grid-column-start: 2;
}

/* adding border */
p strong { 
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-radius: 2px;
}

p { 
    margin: auto;
}

/* Testing out the padding */
video { 
    padding-top: 1em;
    padding-bottom: 1em; 
    padding-left: 1em;
    padding-right: 1em; 
}

audio { 
    padding: 1em 1em 1em 1em;
}

/* Testing margins */
.list-one { 
    background-color: lightcoral;
    border: 5px solid rebeccapurple;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.list-two { 
    background-color: lightblue;
    border: 5px solid rebeccapurple;
    margin: 1em 1em 1em 1em;
}

/* Leftover selectors:  */
/* Element selector:  */
h1 { 
    font-size: 40px;
}

/* universal selector */
*  { 
    font-family: 'Roboto', sans-serif;
}

/* attribute selector and selector list */
a[href="#attendees"], 
a[href="#agenda"], 
a[href="#notes"], 
a[href="#images"], 
a[href="#audio-recordings"], 
a[href="#video-recordings"], 
a[href="#form"], 
a[href="#credit"]
{ 
    font-size: 20px;
}

/* Child Combinator */
span {
    background-color: lightseagreen;
}

p > span { 
    background-color: lightgreen;
}

/* General sibling combinator: changes the size of the 'p' elements right after credit id */
#credit ~ p { 
    font-size: 1em;
}

/* Adjacent sibling combinator: changes the font-family of the first p tag after id called 'credit' */
#credit + p { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Combining Two Selectors: change these margins for stuff with class 'classout' after summary element */
summary.callout { 
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}