#img-two { 
    position: relative;
    left:30px;
}

/* absolute unit */
#img-three { 
    position: absolute;
    left: 80px;
}
@media screen and (max-width: 30em) and (orientation: landscape) { 
    * { 
        background-color: red;
    }
}

@media only screen and (max-width: 600px)  {  
    body{
        background-color: rgb(105, 105, 105);
    }
}
a:hover {
    color: dodgerblue;
}

a:active {
    color: red;
}

/* relative unit */
button { 
    width: 5em;
    height: 2em;
    max-width: 50em;
    min-width: 5em;
}

/* relative unit */
p { 
    font-size: 1.5rem;
}

ul li { 
    font-size: 3ch;
}
/* absolute unit */
nav { 
    height: 0.5cm; 
}

/* absolute unit */
fieldset  {
    max-width: 33333in;
 }

 p span { 
    display: inline;
 }

 #poem { 
    display:  block;
    background-color: aqua;
 }

 /* Using flexbox properties */
 .container-flex { 
     display: flex; 
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: nowrap;
 }
 .container-flex-body { 
    flex-shrink: 4;
    flex-basis: auto;
    align-self: auto;
 }

 /* Using grid properties */
 .container-grid { 
    display: grid; 
    grid-template-columns: auto auto auto auto;
    row-gap: 3em;
    grid-template-rows: auto;


}
.container-grid-body { 
    justify-self: center;
    align-self: auto;
    grid-column-start: 2;
}